@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--preto: rgb(0, 0, 0);
--vermelhoescuro: #621708ff;
--vermelho: #941b0cff;
--laranja: #bc3908ff;
--amarelo: #f6aa1cff;
--font-texto: "Roboto", sans-serif;
--font-titulo: "New Amsterdam", sans-serif;
}

body{
    background-color: var(--preto);
    font-family: var(--font-texto);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--font-titulo);
}

.texto{
    font-family: var(--font-texto);
}

.cabecalho{
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho{
    width: 15%;
    border-radius: 10%;
}
